@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h4>Autorzy: Damian Mąkosa i Piotr Rużański</h4>
    <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Katalog">Katalog</a>
</div>
